img {
  max-width: 100%;
}

.cash-image {
  width: 500%;
}

.main-container {
  background-image: url("../image/cash-image1.jpg");
  background-size: cover;
  padding: 1rem;
  width: 100%;
  height: 600px;
}
